<ion-content scroll-y="false">
  <div id="all">
  <div id="center">
      <ion-text>
        <form action="">
          <h2 id="login-legend">make a new account</h2>
          <input type="text" class="field" placeholder="enter your first name">
          <input type="text" class="field" placeholder="enter your last name">
          <input type="email" name="mail" class="field" placeholder="enter your mail">
          <input type="text" class="field" placeholder="enter your birthday">
          <input type="text" class="field" placeholder="enter your adress">
          <input type="password" name="" class="field" placeholder="enter your password">
          <button>login</button>
        </form>
        <h1 id="logo">logo</h1>
        <h6 id="legend">make your trip more enjoyable</h6>

      </ion-text>
  </div>
  
  </div>
  </ion-content>
  
  
  