@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,,00&display=swap');
*{
    font-family: 'Poppins', sans-serif;

}
#all{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;


}
#center{

    border-radius:100%;
    background: #0f2027; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    margin-bottom: 800px;
    width: 180%;
    height: 60%;
}

#logo{
    text-align: center;
    margin-top: 250px;

}
#legend{
    opacity:0%;
    text-align: center;
    margin-bottom: -26px;
    opacity:60%;
}
#login-legend{
    color: black;
    margin-top: -100px;
    margin-bottom: 20px;
    padding: 0 80px;
    text-align: center;
    font-weight: 600;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1400px;
    animation: slide 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.field{
outline: none;
background-color: white;
border: 2px grey solid;
margin: 5px 100px;
height: 50px;
padding: 10px;
border-radius: 5px;
color:black;
}
.field:focus{
    border: 2px black solid;
}   
.field:focus::placeholder{
    color: black;
}  
button {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); ;

    color: white;
    text-align: center;
    border-radius: 50px;
    width: 100px;
    height: 50px; 
    margin-bottom: 20px;
    margin-top: 20px;
  }
  p{
    color: black;
    opacity: 60%;
  }
  a{
    color: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  }
  @keyframes slide {
    from{

    }to{
        margin-top: 200px;
    }
  }