<ion-content scroll-y="false" margin="auto">
  <div id="all">
  <div id="center">
      <ion-text>
        <h1 id="logo">logo</h1>
        <h6 id="legend">make your trip more enjoyable</h6>
      </ion-text>
  </div>
  <form action="">
    <h2 id="login-legend">login to your account</h2>
    <input type="email" name="mail" class="field" placeholder="enter your mail">
    <input type="password" name="" class="field" placeholder="enter your password">
    <button>login</button>
    <p>don’t have an account? <a href="" id="sign-link">sign up</a></p>
  </form>
  </div>
  </ion-content>